<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBE3EA5F24950881005728F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBE3EA7824950883005728F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBE3EA8324950883005728F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
